/* Variables */
:root {
    /* Colors */
    --primary-color: #002c36; 
    --primary-color-rgba: 0 44 54 / ;
    --secondary-color: #005a6f;
    --secondary-color-fix: #005a6f;
    --secondary-color-rgba: 0 90 111 / ;
    --accent-color: #d66519;
    --accent-color-rgba: 214 101 25 / ;
    --light-color: #fffcfa;
    --light-color-rgba: 255 252 250 / ;
    --dark-color: #262626;
    --dark-color-rgba: 38 38 38 / ;

    /* Functions Colors */
    --background-color: #fffcfa;
    --background-color-rgba: 255 252 250 / ;
    --text-color: #262626;
    --text-color-rgba: 38 38 38 / ;
    --text-icon-color: #005a6f;
    --text-icon-color-rgba: 0 90 111 / ;
    --box-hover-color: #fcecdd;
    --box-hover-color-rgba: 252 236 221 / ;
    --background-hero-color: #fcecdd;

    /* Sacar pronto */
    --color-rich-black: #003845;
    --color-rich-black-rgba: 0 56 60 / ;
    --color-dark-celurean: #00576B;
    --color-dark-celurean-rgba: 0 87 107 / ;
    --color-pale-celurean: #99C9D5;
    --color-pale-celurean-rgba: 153 201 213 / ;
    --color-azure: #EEFCFF;
    --color-azure-rgba: 238 252 255 / ;
    --color-antique-white: #FCECDD; 
    --color-antique-white-rgba: 252 236 221 / ;

    /* Fonts */
    --primary-font: "Open Sans", system, sans-serif;
    --secondary-font: "Roboto Slab", system, sans-serif;
    --desktop-font: 20px;
    --tablet-font: 18px;
    --mobile-font: 16px;
}

/* DarkMode */
@media (prefers-color-scheme: dark) {
    body:not(.light-mode) {
        /* Colors */
        --primary-color: #171717; 
        --primary-color-rgba: 23 23 23 / ;
        --secondary-color: #171717;
        --secondary-color-rgba: 23 23 23 / ;
        --accent-color: #de8447;
        --accent-color-rgba: 222 132 71 / ;
        --light-color: #fffcfa;
        --light-color-rgba: 255 252 250 / ;
        --dark-color: #262626;
        --dark-color-rgba: 38 38 38 / ;

        /* Functions Colors */
        --background-color: #262626;
        --background-color-rgba: 38 38 38 / ;
        --text-color: #fffcfa;
        --text-color-rgba: 255 252 250 / ;
        --text-icon-color: #48a4b9;
        --text-icon-color-rgba: 72 164 185 / ;
        --box-hover-color: #002d38;
        --box-hover-color-rgba: 38 38 38 / ;
    }
}

body.dark-mode {
    /* Colors */
    --primary-color: #171717; 
    --primary-color-rgba: 23 23 23 / ;
    --secondary-color: #171717;
    --secondary-color-rgba: 23 23 23 / ;
    --accent-color: #de8447;
    --accent-color-rgba: 222 132 71 / ;
    --light-color: #fffcfa;
    --light-color-rgba: 255 252 250 / ;
    --dark-color: #262626;
    --dark-color-rgba: 38 38 38 / ;

    /* Functions Colors */
    --background-color: #262626;
    --background-color-rgba: 38 38 38 / ;
    --text-color: #fffcfa;
    --text-color-rgba: 255 252 250 / ;
    --text-icon-color: #48a4b9;
    --text-icon-color-rgba: 72 164 185 / ;
    --box-hover-color: #002d38;
    --box-hover-color-rgba: 38 38 38 / ;
}

/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--mobile-font);
}

body {
    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 150%;
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    padding-top: 78px;
}

/* Titulo y Textos */
.iavm-h1, .iavm-h2, .iavm-h3 {
    font-family: var(--secondary-font);
    color: var(--text-color);
    line-height: 150%;
}

p, li, a, span {
    font-family: var(--primary-font);
    color: var(--text-color);
    line-height: 150%;
}

blockquote, q {
    font-family: var(--primary-font);
    color: var(--text-color);
    line-height: 150%;
    font-weight: 700;
}

.iavm-h1 {
    font-size: 2.5rem;
}

.iavm-h2 {
    font-size: 2rem;
}

.iavm-h3 {
    font-family: var(--primary-font);
    font-size: 1.25rem;
}

.subtitle {
    font-family: var(--primary-font);
    color: var(--text-icon-color);
    font-size: 1.125rem;
    line-height: 150%;
}

p, li, a, span {
    font-size: 1rem;
}

blockquote, q {
    font-size: 1.25rem;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.last {
    margin-bottom: 0;
}

.light {
    color: var(--light-color);
}

.dark {
    color: var(--dark-color);
}

.dark-blue {
    color: var(--text-icon-color);
}

/* Tablet Responsive */
@media (min-width: 992px) {
    html {
        font-size: var(--tablet-font);
    }

    .iavm-h1 {
    font-size: 2.222rem;
    }

    .iavm-h2 {
        font-size: 1.444rem;
    }

    .iavm-h3 {
        font-size: 1.222rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    p, li, a, span {
        font-size: 1rem;
    }

    blockquote, q {
        font-size: 1.667rem;
    }
}

/* Desktop Responsive */
@media (min-width: 1200px) {
    html {
        font-size: var(--desktop-font);
    }

    .iavm-h1 {
    font-size: 2.4rem;
    }

    .iavm-h2 {
        font-size: 1.8rem;
    }

    .iavm-h3 {
        font-size: 1.4rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    p, li, a, span {
        font-size: 1rem;
    }

    blockquote, q {
        font-size: 1.5rem;
    }
}


/*------------------------------- Componentes  -------------------------------*/
/* iavm-primary-btn */
.iavm-primary-btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px calc((100dvw - 540px) / 2); */
    padding: 16px calc(1.5rem * .5);
    width: 100%;
    height: auto;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 900;
    text-decoration: none;
    /* height: 89px; */
}

/* .iavm-primary-btn .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.iavm-primary-btn svg {
    display: flex;
    color: var(--accent-color);
    flex-shrink: 0;
    width: 57px;
    height: 57px;
}

.iavm-primary-btn:active, .iavm-primary-btn:hover {
    background-color: var(--secondary-color-fix);
}

.iavm-primary-btn:active svg,.iavm-primary-btn:hover svg {
    transform: rotate(-40deg);
}

.iavm-primary-btn:focus-visible, .iavm-primary-btn:focus-visible {
    outline: 8px solid var(--accent-color);
    outline-offset: -8px;
}

@media (min-width: 576px) {
    .iavm-primary-btn {
        padding: 16px calc((100dvw - 540px) / 2);
    }
}

@media (min-width: 768px) {
    .iavm-primary-btn {
        padding: 16px calc((100dvw - 720px) / 2);
    }
}

/* Tablet Responsive */
@media (min-width: 992px) {
    .iavm-primary-btn {
        padding: 40px calc((100dvw - 960px) / 2);
    }

    .iavm-primary-btn svg {
        width: 60px;
        height: 60px;
    }

    .buttons .iavm-primary-btn {
        padding-inline: calc((100dvw / 2) - (960px / 2));
    }
}

/* Desktop Responsive */
@media (min-width: 1200px) {
    .iavm-primary-btn {
        padding: 55px calc((100dvw - 1140px) / 2);
    }

    .buttons .iavm-primary-btn {
        padding-inline: calc((100dvw / 2) - (1140px / 2));
    }

    .iavm-primary-btn svg {
        width: 75px;
        height: 75px;
    }
}

@media (min-width: 1400px) {
    .iavm-primary-btn {
        padding-inline: calc((100dvw - 1320px) / 2);
    }

    .buttons .iavm-primary-btn {
        padding-inline: calc((100dvw / 2) - (1320px / 2));
    }
}

.controls-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px;
    width: fit-content;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
}

.controls-btn.active, .controls-btn:hover {
    background-color: var(--text-icon-color);
    color: var(--light-color);
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

a:focus-visible, button:focus-visible {
    outline: 2px solid var(--accent-color);
    outline-offset: 4px;
}

a.logo:focus-visible {
    outline-offset: 8px;
}

/*------------------------------- Header -------------------------------*/
.iavm-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-height: 151px;
    background-color: var(--primary-color);
    padding-block: 18px;
    gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.iavm-header .container {
    display: flex;
}

.iavm-header #skip-to-content {
    position: absolute;
    top: 0;
    left: -9999px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-color);
    text-decoration: none;
    background-color: var(--secondary-color);
    width: 94%;
    height: 38px;
    font-size: 24px;
}

.iavm-header #skip-to-content:focus, .iavm-header #skip-to-content:focus-visible {
    position: initial;
}

.iavm-header .logo, .iavm-header .logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 29.777px;
}

/*------------ Mobile Header ------------*/
.iavm-header .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
}

/* Desktop Responsive */
@media (min-width: 1200px) {
    body {
        padding-top: 0;
    }

    .iavm-header {
        position: initial;
    }

    .iavm-header .mobile-header {
        display: none;
    }
}

.iavm-header .mobile-header #open-nav-menu, .iavm-header .mobile-header #close-nav-menu {
    display: flex;
    background: transparent;
    border: none;
    outline: none;
}

.iavm-header .mobile-header #open-nav-menu:focus-visible, .iavm-header .mobile-header #close-nav-menu:focus-visible {
    outline: 2px solid var(--accent-color);
}

.iavm-header .mobile-header nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 24px;
    background: var(--primary-color);
    width: 100%;
    height: 100dvh;
    padding: 100px 45px 0 45px;
}

.iavm-header .mobile-header nav.open {
    display: flex;
}

/* Desktop Responsive */
@media (max-width: 1200px) {
    body.nav-open {
        overflow: hidden;
        height: 100dvh;
    }
}

.iavm-header .mobile-header nav .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.iavm-header .mobile-header nav .nav-list .menu-item {
    text-decoration: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.iavm-header nav .nav-list .menu-item.menu-item-has-children {
    gap: 10px;
}

.iavm-header nav .nav-list .menu-item.menu-item-has-children>a::after {
    content: "";
    width: 11px;
    height: 7px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 11 7"><path fill="%23fff" d="M8.355.549A1 1 0 1 1 9.77 1.963l-4 4a1 1 0 0 1-1.415 0l-4-4A1 1 0 1 1 1.77.549l3.292 3.293L8.355.549Z"/></svg>'); no-repeat center;
}

.iavm-header nav .nav-list .menu-item.menu-item-has-children.open>a::after {
    content: "";
    width: 11px;
    height: 7px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 11 7"><path fill="%23fff" d="M5.313.256a1 1 0 0 1 .707.293l4 4a1 1 0 1 1-1.414 1.414L5.313 2.67 2.02 5.963A1 1 0 1 1 .606 4.549l4-4 .073-.067a1 1 0 0 1 .634-.226Z"/></svg>'); no-repeat center;
}

.iavm-header nav .nav-list .menu-item-has-children .sub-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    gap: 10px;
    width: 100%;
}

.iavm-header nav .nav-list .menu-item-has-children.open .sub-menu {
    display: flex;
}

.iavm-header nav .nav-list .menu-item-has-children .sub-menu .menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.iavm-header nav .nav-list .menu-item-has-children .sub-menu .menu-item a {
    font-size: 0.9rem;
}

.iavm-header .mobile-header nav .nav-list .menu-item-has-children .sub-menu .menu-item a {
    padding-inline: 44px;
}

.iavm-header .mobile-header nav .nav-list .menu-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    padding: 9px 10px;
    color: var(--light-color);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;
    border-radius: 8px;
}

.iavm-header .mobile-header nav .nav-list .menu-item.current-menu-item>a {
    background-color: var(--accent-color);
}

.iavm-header .mobile-header nav .nav-list .menu-item:not(.menu-item-has-children) a:active {
    background-color: var(--secondary-color);
}

.iavm-header .mobile-header nav .nav-list .menu-item.open>a {
    background-color: var(--secondary-color);
}

/*------------ Desktop Header ------------*/
.iavm-header .desktop-header {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
}

/* Desktop Responsive */
@media (min-width: 1200px) {
    .iavm-header .desktop-header {
        display: flex;
    }
}

.iavm-header .desktop-header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.iavm-header .desktop-header nav .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.iavm-header .desktop-header nav .nav-list .menu-item>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px 20px;
    color: var(--light-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-radius: 16px;
    background-color: transparent;
}

.iavm-header .desktop-header nav .nav-list .menu-item>a:hover {
    background-color: var(--secondary-color-fix);
}

.iavm-header .desktop-header nav .nav-list .menu-item.current-menu-item>a {
    background-color: var(--accent-color);
}

.iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children {
    position: relative;
}

.iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu {
    position: absolute;
    top: calc(100% + 16px);
    left: 0;
    z-index: 10;
    background-color: var(--primary-color);
    padding: 32px 32px;
    border-radius: 0 0 26px 26px;
    width: 300px;
    gap: 32px;
}

.iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .menu-item a {
    border-left: 2px solid var(--secondary-color-fix);
    padding-block: 10px;
}

.iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .current-menu-item>a {
    background-color: transparent;
    border-left: 2px solid var(--accent-color);
}

.iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .current-menu-item>a:hover {
    background-color: var(--secondary-color-fix);
}

.iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .menu-item a {
    padding-inline: 32px;
    border-radius: 0 16px 16px 0;
}

.iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .menu-item, .iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .menu-item a {
    justify-content: flex-start;
    width: 100%;
}

/* HEADER DOS */
@media (min-width: 1200px) {
    .new-iavm-header {
        min-height: 100px;
        padding-block: 0;
    }

    .new-iavm-header .container {
        height: 100px;
        flex-shrink: 0;
    }

    .new-iavm-header .desktop-header {
        display: flex;
        height: 100%;
    }
}

.new-iavm-header .desktop-header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.new-iavm-header .desktop-header nav .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.new-iavm-header .desktop-header nav .nav-list .menu-item {
    height: 100%;
}

.new-iavm-header .desktop-header nav .nav-list .menu-item>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-inline: 32px;
    height: 100%;
    color: var(--light-color);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-radius: 0;
    background-color: transparent;
}

.new-iavm-header .desktop-header nav .nav-list .menu-item>a:hover {
    background-color: var(--secondary-color-fix);
}

.new-iavm-header .desktop-header nav .nav-list .menu-item.current-menu-item>a {
    background-color: var(--accent-color);
}

.new-iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children {
    position: relative;
}

.new-iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: var(--primary-color);
    border-radius: 0;
    padding: 0;
    width: 397px;
    gap: 0;
}

.new-iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .menu-item a {
    border-left: 6px solid transparent;
    padding: 27px 20px;
    border-radius: 0;
}

.new-iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .current-menu-item>a {
    background-color: var(--dark-color);
    border-left: 6px solid var(--accent-color);
}

.new-iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .current-menu-item>a:hover {
    background-color: var(--secondary-color-fix);
}

.new-iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .menu-item, .new-iavm-header .desktop-header nav .nav-list .menu-item.menu-item-has-children .sub-menu .menu-item a {
    justify-content: flex-start;
    width: 100%;
    font-size: 0.8rem;
}

/*------------------------------- Footer -------------------------------*/
.iavm-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    max-height: 769px;
    padding-block: 40px;
    background-color: var(--primary-color);
}

.iavm-footer .footer-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.iavm-footer .footer-content .header {
    position: relative;
    height: 106px;
}

.iavm-footer .footer-content .header .braille svg {
    height: 100%;
    width: auto;
}

.iavm-footer .footer-content .header .braille {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: fade-out 0.5s linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 70%;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.iavm-footer .footer-content .header .letters {
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: auto;
    animation: fade-in 0.5s ease-in-out both;
    animation-timeline: view();
    animation-delay: .5s;
    animation-range: entry 50% cover 70%;
    transition: opacity 0.5s ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.iavm-footer .footer-content .line {
    width: 100%;
    height: 2px;
    background-color: var(--light-color);
}

.iavm-footer .footer-content .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.iavm-footer .footer-content .content .logo {
    flex-shrink: 0;
    width: 162.43px;
    height: 142.79px;
}

.iavm-footer .footer-content .content .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 26px;
}

.iavm-footer .footer-content .content .contact>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}

.iavm-footer .footer-content .content .contact a, 
.iavm-footer .footer-content .content .contact p,
.iavm-footer .footer-content .content .contact address {
    color: var(--light-color);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    width: fit-content;
}

.iavm-footer .footer-content .content .contact p span {
    display: block;
    color: var(--light-color);
}

.iavm-footer .footer-content .content .contact a svg, 
.iavm-footer .footer-content .content .contact p svg,
.iavm-footer .footer-content .content .contact address svg {
    width: 32px;
    height: 32px;
}

.iavm-footer .footer-content .content .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.iavm-footer .footer-content .content .social-media svg {
    width: 48px;
    height: 48px;
}

/* Tablet Responsive */
@media (min-width: 992px) {
    .iavm-footer {
        min-height: 600px;
    }

    .iavm-footer .footer-content {
        flex-direction: column-reverse;
    }

    .iavm-footer .footer-content .header {
        height: 182px;
    }

    .iavm-footer .footer-content .content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

/* Desktop Responsive */
@media (min-width: 1200px) {
    .iavm-footer {
        min-height: 552px;
    }

    .iavm-footer .footer-content {
        flex-direction: column-reverse;
    }

    .iavm-footer .footer-content .header {
        height: fit-content;
    }

    .iavm-footer .footer-content .content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .iavm-footer .footer-content .content .contact>div {
        flex-direction: row;
    }

    .iavm-footer .footer-content .content .contact>div>:first-child {
        width: 400px;
    }
}

/* Heroes Banners */
.hero .banner {
    width: 100%;
    height: 432px;
    position: relative;
    background: linear-gradient(180deg, transparent 50%, var(--dark-color) 100%);
    display: flex;
    align-items: flex-end;
    padding-bottom: 32px;
}

.hero .banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

/* Tablet Responsive */
@media (min-width: 992px) {
    .hero .banner {
        height: auto!important;
        aspect-ratio: 341/340;
    }

    .hero .banner img {
        height: auto!important;
        aspect-ratio: 341/340;
    }
}

/* Desktop Responsive */
@media (min-width: 1200px) {
    .hero .banner {
        height: auto!important;
        aspect-ratio: 18/7;
    }

    .hero .banner img {
        height: auto!important;
        aspect-ratio: 18/7;
    }
}

/*------------------------------- Pagina Inicio -------------------------------*/
/* Hero Section */
.home .hero {
    padding-top: 40px;
    background-color: var(--box-hover-color);
    display: flex;
    flex-direction: column;
    height: auto;
}

.home .hero .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: hidden;
}

.home .hero .image img {    
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 90%;
    height: auto;
    aspect-ratio: 145/96;
    object-fit: cover;
    object-position: center;
}

.home .hero .image {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 145/96;
    min-height: 245px;
    overflow: hidden;
}

.home .hero .image::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    width: 80%;
    height: auto;
    aspect-ratio: 1/1;
    transform: translate(8%, 35%) scale(1.5);
    background: radial-gradient(circle, var(--accent-color) 50%, #FFB16E 50%, #FFB16E 55%, #FFCFA6 55%, #FFCFA6 60%, #FFE0C6 60%, #FFE0C6 65%, transparent 65%);
}

/* Tablet Responsive */
@media (min-width: 992px) {
    .container>.row {
        justify-content: center;
    }

    .home .hero p {
        width: 89%;
        text-wrap: balance;
    }

    .home .hero .image::before {
        transform: translate(10%, 32%) scale(1.5);
    }
}

@media (min-width: 1200px) {
    .home .hero {
        padding-block: 0;
    }

    .home .hero .hero-content {
        position: relative;
        padding-block: 100px;
        min-height: 550px;
    }


    .home .hero .container>.row {
        justify-content: flex-start;
    }

    .home .hero .iavm-h1 {
        text-wrap: balance;
    }

    .home .hero p {
        width: 80%;
        text-wrap: balance;
    }

    .home .hero .image img {
        width: 100%;
        height: auto;
        right: 0;
    }

    .home .hero .image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 55dvw;
        height: 100%;
        margin-top: 0;
    }

    .home .hero .image::before {
        width: 100%;
        transform: translate(5.1%, 25%) scale(1.2);
    }
}

@media (min-width: 1400px) {
    .home .hero .hero-content {
        padding-block: 200px;
        min-height: 750px;
    }
}

/* Metodologias */
.home .methodologies {
    padding-block: 100px;
}

.home .methodologies .row {
    gap: 50px;
}

.home .methodologies .methodology .metod-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: 40px 20px;
}

.home .methodologies .methodology .metod-card h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.home .methodologies .methodology .metod-card h3 svg {
    width: 50px;
    height: 50px;
    color: var(--text-icon-color);
}

@media (min-width: 992px) {
    .home .methodologies .methodology .metod-card h3 svg {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 1200px) {
    .home .methodologies .methodology .metod-card h3 svg {
        width: 75px;
        height: 75px;
    }
}

/* Calendario */
.home .calendar .row .title .iavm-h2 {
    text-align: center;
    margin-bottom: 50px;
}

.home .calendar .row.calendars>div:first-child {
    margin-bottom: 50px;
}

.home .calendar .row.calendars {
    padding-bottom: 100px;
}

.calendar-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    overflow: hidden;
}

.calendar-card .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 21px 24px;
}

.calendar-card .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.calendar-card .body .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    gap: 9px;
}

.calendar-card .body .item:hover {
    background-color: var(--box-hover-color);
    outline: 2px dashed var(--secondary-color);
    outline-offset: 0;
}

.calendar-card .body .item:focus-visible {
    background-color: var(--box-hover-color);
    outline: 8px solid var(--accent-color);
    outline-offset: -8px;
}

.calendar-card .body .item svg{
    color: var(--text-icon-color);
}

.calendar-card .body .item svg:hover {
    color: var(--accent-color);
}

.calendar-card .body .item:focus-visible svg {
    color: var(--accent-color);
}

.calendar-card .body .item .content .date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.calendar-card .body .item .content .date svg {
    width: 30px;
    height: 30px;
}

.calendar-card .body .item .content .date span {
    color: var(--secondary-color);
    font-weight: 600;
}

.calendar-card .body .item .content .iavm-h3 {
    margin: 0;
}

/*------------------------------- Pagina Admision -------------------------------*/
/* Hero section */
.page-template-page-admision .hero .info {
    background-color: var(--secondary-color);
    padding-block: 40px;
}

.page-template-page-admision .hero .info .container .row {
    justify-content: center;
}

.page-template-page-admision .hero .info .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.page-template-page-admision .hero .info .content .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.page-template-page-admision .hero .info .content .item:first-child {
    align-items: flex-start;
}

.page-template-page-admision .hero .info p {
    color: var(--light-color);
    width: 100%;
}

.page-template-page-admision .hero .info svg {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    color: var(--light-color);
}

.page-template-page-admision .requirements>.container {
    padding-block: 100px;
}

.page-template-page-admision .requirements .container .titulo {
    margin-bottom: 36px;
}

.page-template-page-admision .requirements .container .requirements-list ol {
    list-style: none;
    counter-reset: requirements-counter;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.page-template-page-admision .requirements .container .requirements-list ol li {
    counter-increment: requirements-counter;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    font-size: 1rem;
}

.page-template-page-admision .requirements .container .requirements-list ol li::before {
    content: "0" counter(requirements-counter);
    font-size: 64px;
    font-weight: 800;
    line-height: 1;
    font-family: var(--secondary-font);
    color: var(--text-icon-color);
    width: 73px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
}

.line-dashed {
    border-bottom: 2px dashed var(--text-icon-color);
}

/* Tablet Responsive */
@media (min-width: 992px) {
    .page-template-page-admision .hero .info svg {
        width: 40px;
        height: 40px;
    }

    .page-template-page-admision .hero .info .content {
        gap: 50px;
    }

    .page-template-page-admision .hero .info .content .item {
        gap: 40px;
    }

    .page-template-page-admision .hero .info {
        padding-block: 60px;
    }

    .page-template-page-admision .requirements .container .titulo {
        justify-content: center;
        margin-bottom: 100px;
    }

    .page-template-page-admision .requirements .buttons {
        display: flex;
    }

    .page-template-page-admision .requirements .buttons .line-dashed {
        border: none;
        border-right: 2px dashed var(--text-icon-color);
    }

    .page-template-page-admision .requirements .container .requirements-list ol {
        gap: 80px;
    }

    .page-template-page-admision .requirements .container .requirements-list ol li {
        gap: 23px;
    }
}

/* Desktop Tablet */
@media (min-width: 1200px) {
    .page-template-page-admision .hero .info svg {
        width: 50px;
        height: 50px;
    }

    .page-template-page-admision .hero .info .content {
        gap: 64px;
    }

    .page-template-page-admision .hero .info .content .item {
        gap: 34px;
    }

    .page-template-page-admision .hero .info {
        padding-block: 50px;
    }

    .page-template-page-admision .requirements .container .titulo {
        justify-content: center;
        margin-bottom: 70px;
    }

    .page-template-page-admision .requirements .container .requirements-list ol {
        gap: 50px;
    }

    .page-template-page-admision .requirements .container .requirements-list ol li {
        gap: 30px;
    }
}

/*------------------------------- Pagina Oferta académica -------------------------------*/
/* Hero section */
.page-template-page-oferta-academica .hero .content {
    padding-block: 100px;
}

.page-template-page-oferta-academica .hero .content .row {
    justify-content: center;
}

.page-template-page-oferta-academica .hero .content .paragraphs {
    gap: 60px;
}

.page-template-page-oferta-academica .hero .content .blockquote {
    margin-bottom: 80px;
}

.page-template-page-oferta-academica .hero .content .paragraphs {
    margin-bottom: 100px;
}

.page-template-page-oferta-academica .hero .content .quote {
    text-align: center;
}

/* Modelo Educativo */
.page-template-page-oferta-academica .model .header .image img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.page-template-page-oferta-academica .model>.container {
    margin-bottom: 100px;
}

.page-template-page-oferta-academica .model .header .title {
    margin-block: 60px 50px;
}

.page-template-page-oferta-academica .model .paragraphs {
    gap: 60px;
}

.page-template-page-oferta-academica .model {
    margin-bottom: 100px;
}

.page-template-page-oferta-academica .method .header .title {
    margin-bottom: 50px;
}

.page-template-page-oferta-academica .method .header .paragraphs {
    gap: 60px;
}

.page-template-page-oferta-academica .method .header {
    margin-bottom: 100px;
}

.page-template-page-oferta-academica .method .body .specs {
    gap: 70px;
}

.page-template-page-oferta-academica .method .body .specs .item img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    aspect-ratio: 42/25;
    object-fit: cover;
    object-position: center;
}

.page-template-page-oferta-academica .method .body .specs .item .title {
    padding-block: 26px 20px;
}

/* Talleres 2025 */
.page-template-page-oferta-academica .workshops {
    padding-top: 40px;
}

.page-template-page-oferta-academica .workshops .title {
    text-align: center;
    margin-bottom: 100px;
}

.page-template-page-oferta-academica .workshops .workshops-list .workshop .workshop-card {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    padding-block: 48px;
}

.page-template-page-oferta-academica .workshops .workshops-list .workshop:nth-child(2) .workshop-card {
    border-block: 2px dashed var(--text-icon-color);
}

.page-template-page-oferta-academica .workshops .workshops-list .workshop:last-child .workshop-card {
    padding-bottom: 100px;
}

.page-template-page-oferta-academica .workshops .workshops-list .workshop .workshop-card svg {
    width: 60px;
    height: auto;
    flex-shrink: 0;
    color: var(--accent-color);
}

.page-template-page-oferta-academica .workshops .workshops-list .workshop .workshop-card .title {
    text-align: start;
    margin-bottom: 60px;
}

/* Tablet Responsive */
@media (min-width: 992px) {
    .page-template-page-oferta-academica .hero .content .paragraphs {
        gap: 0;
    }

    .page-template-page-oferta-academica .model .header .image img {
        width: 100%;
        height: auto;
        aspect-ratio: 223/113;
    }

    .page-template-page-oferta-academica .model .paragraphs {
        gap: 0;
    }

    .page-template-page-oferta-academica .method .header .paragraphs {
        gap: 0;
    }

    .page-template-page-oferta-academica .method .body .specs {
        gap: 0;
    }

    .page-template-page-oferta-academica .method .body .specs .item{
        margin-bottom: 100px;
    }

    .page-template-page-oferta-academica .workshops .workshops-list .workshop .workshop-card {
        display: flex;
        gap: 50px;
        align-items: flex-start;
        padding-block: 100px;
    }

    .page-template-page-oferta-academica .workshops .workshops-list .workshop .workshop-card svg {
        width: 170px;
    }

    .page-template-page-oferta-academica .buttons {
        display: flex;
    }

    .page-template-page-oferta-academica .buttons .line-dashed {
        border: none;
        border-right: 2px dashed var(--text-icon-color);
    }
}

/* Desktop Responsive */
@media (min-width: 1200px) {
    .page-template-page-oferta-academica .workshops .workshops-list .workshop .workshop-card svg {
        width: 200px;
    }
}

/*------------------------------- Pagina Instituto -------------------------------*/
.page-template-page-instituto .mission {
    padding-block: 100px;
}

.page-template-page-instituto .mission, .page-template-page-instituto .vision, .page-template-page-instituto .stamps, .page-template-page-instituto .values {
    padding-bottom: 100px;
}

.page-template-page-instituto .title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
}

.page-template-page-instituto .title .icon {
    width: fit-content;
    padding: 9px 24px 9px 48px;
    border-radius: 0 999px 999px 0;
    background-color: var(--primary-color);
}

.page-template-page-instituto .title .icon svg {
    width: 32px;
    height: 32px;
    color: var(--accent-color);
}

.page-template-page-instituto .mission .content .blockquote, .page-template-page-instituto .vision .content .blockquote {
    margin-bottom: 80px;
}

.page-template-page-instituto .mission .content .paragraphs, .page-template-page-instituto .vision .content .paragraphs {
    gap: 60px;
}

.page-template-page-instituto .stamps .content .stamps-list ol {
    list-style: none;
    counter-reset: stamps-counter;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.page-template-page-instituto .stamps .content .stamps-list ol li {
    display: flex;
    flex-direction: column;
    gap: 40px;
    counter-increment: stamps-counter;
    width: 100%;
    font-size: 1rem;
}

.page-template-page-instituto .stamps .content .stamps-list ol li h3::before {
    content: "0" counter(stamps-counter);
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    font-family: var(--secondary-font);
    color: var(--text-icon-color);
}

.page-template-page-instituto .stamps .content .stamps-list ol li h3 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.page-template-page-instituto .values .content .values-list ul {
    list-style: none;
    counter-reset: stamps-counter;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.page-template-page-instituto .values .content .values-list ul li {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    font-size: 1rem;
}

.page-template-page-instituto .values .content .values-list ul li h3 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.page-template-page-instituto .values .content .values-list ul li h3 img {
    width: 50px;
    height: 50px;
}

/* Tablet Responsive */
@media (min-width: 992px) {
    .page-template-page-instituto .title .icon {
        padding: 9px 24px 9px 156px;
    }

    .page-template-page-instituto .title {
        position: relative;
    }

    .page-template-page-instituto .title h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .page-template-page-instituto .title .icon svg {
        width: 40px!important;
        height: 40px!important;
    }

    .page-template-page-instituto .paragraphs {
        gap: 0!important;
    }

    .page-template-page-instituto .values .values-list h3 img {
        width: 70px!important;
        height: 70px!important;
    }
}

/* Desktop Responsive */
@media (min-width: 1200px) {
    .page-template-page-instituto .title .icon {
        padding: 15px 24px 15px 173px;
    }

    .page-template-page-instituto .title .icon svg {
        width: 50px!important;
        height: 50px!important;
    }

    .page-template-page-instituto .values .values-list h3 img {
        width: 90px!important;
        height: 90px!important;
    }
}


/*------------------------------- Pagina Infraestructura -------------------------------*/
.page-template-page-infraestructura .hero .content {
    padding-block: 100px;
}

.page-template-page-infraestructura .hero .content .blockquote {
    margin-bottom: 80px;
}

.page-template-page-infraestructura .hero .content .paragraphs {
    gap: 60px;
}

.page-template-page-infraestructura .infraestructure .title {
    margin-bottom: 25px;
}

.page-template-page-infraestructura .infraestructure .gallery {
    gap: 40px;
}

.page-template-page-infraestructura .infraestructure .gallery .item img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin-bottom: 24px;
    aspect-ratio: 115/68;
    object-fit: cover;
    object-position: center;
}

.page-template-page-infraestructura .infraestructure .gallery .item .content {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/* Tablet responsive */
@media (min-width: 756px) {
    .page-template-page-infraestructura .infraestructure .gallery {
        gap: 0px;
    }
}

@media (min-width: 992px) {
    .page-template-page-infraestructura .hero .content .paragraphs {
        gap: 0px;
    }

    .page-template-page-infraestructura .infraestructure .gallery .item {
        margin-bottom: 100px;
    }

    .page-template-page-infraestructura .infraestructure .gallery .item img {
        aspect-ratio: 101/78;
    }

    .page-template-page-infraestructura .infraestructure .buttons {
        display: flex;
    }

    .page-template-page-infraestructura .infraestructure .buttons {
        display: flex;
    }

    .page-template-page-infraestructura .infraestructure .buttons .line-dashed {
        border-right: 2px dashed var(--text-icon-color);
    }

    .page-template-page-infraestructura .infraestructure .buttons:last-child .line-dashed {
        border-bottom: none;
    }

    .page-template-page-infraestructura .infraestructure .buttons .line-dashed:last-child {
        border-right: none;
    }
}

/* Desktop responsive */
@media (min-width: 1200px) {
    .page-template-page-infraestructura .infraestructure .gallery .item img {
        aspect-ratio: 600/317;
    }
}

/*------------------------------- Pagina Noticias -------------------------------*/
.page-template-page-noticias .news .container {
    padding-block: 100px;
}

.page-template-page-noticias .news .title {
    margin-bottom: 25px;
}

.page-template-page-noticias .news .news-list {
    justify-content: flex-start;
    gap: 50px;
}

.page-template-page-noticias .news .news-list .news-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.page-template-page-noticias .news .news-list .news-card img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    aspect-ratio: 92/55;
}

.page-template-page-noticias .news .news-list .news-card .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-template-page-noticias .news .news-list .news-card .content .fecha {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.page-template-page-noticias .news .news-list .news-card .content .fecha svg {
    color: var(--text-icon-color);
}

.page-template-page-noticias .news .news-list .news-card .content .fecha time {
    color: var(--text-icon-color);
    font-family: var(--primary-font);
    font-weight: 600;
}

/* Tablet responsive */
@media (min-width: 768px) {
    .page-template-page-noticias .news .news-list {
        gap: 0px;
    }

    .page-template-page-noticias .news .news-list .news-card {
        margin-bottom: 100px;
    }
}

/*------------------------------- Pagina Testimonios -------------------------------*/
.page-template-page-testimonios .testimonies .container {
    padding-block: 100px;
}

.page-template-page-testimonios .testimonies .testimonies-list {
    gap: 50px;
}   

.right {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex-direction: row-reverse;
}

.page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .phrase {
    padding: 50px;
}

.page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.right {
    background-color: var(--box-hover-color);
}

body.darkmode .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.right {
    background-color: var(--secondary-color);
}

@media (prefers-color-scheme: dark) {
    body:not(.light-mode).page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.right {
        background-color: var(--secondary-color);
    }
}

.page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .info {
    position: relative;
    text-align: center;
}

.page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .info img {
    width: 225px;
    height: 293px;
    margin-bottom: 40px;
    position: relative;
    object-fit: contain;
    object-position: center;
}

.page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.right .info::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: var(--accent-color);
    border-radius: 999px;
    width: 205px;
    height: 208px;
    display: flex;
    z-index: 0;
}

.page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .info .content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: var(--secondary-color);
    border-radius: 16px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body.darkmode .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .info .content {
    background-color: var(--dark-color);
}

.page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.left {
    background-color: #C3EDF6;
}

body.darkmode .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.left {
    background-color: var(--secondary-color);
}

@media (prefers-color-scheme: dark) {
    body:not(.light-mode).page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.left {
        background-color: var(--secondary-color);
    }

    body:not(.light-mode).page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .info .content {
        background-color: var(--dark-color);
    }
}

.page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.left .info::before {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color-fix);
    border-radius: 999px;
    width: 259px;
    height: 262px;
    display: flex;
    z-index: 0;
}

/* Tablet responsive */
@media (min-width: 992px) {
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card {
        flex-direction: row;
        padding: 50px;
        align-items: center;
    }
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .phrase {
        padding: 0px;
    }
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .info {
        padding-inline: 10px;
    }
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .info img {
        width: 380px;
        height: 495px;
    }
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.right .info::before {
        top: 50%;
        left: 48%;
        width: 420px;
        height: 424px;
    }
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.left {
        flex-direction: row-reverse;
    }
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.left .info::before {
        top: 50%;
        left: 48%;
        width: 370px;
        height: 373px;
    }
}

/* Desktop Responsive */
@media (min-width: 1200px) {
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .phrase {
        padding-inline: 50px 100px;
        text-wrap: balance;
    }
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .info {
        padding-inline: 20px;
    }
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card .info img {
        width: 460px;
        height: 539px;
    }
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.right .info::before {
        top: 50%;
        left: 48%;
        width: 500px;
        height: 505px;
    }
    .page-template-page-testimonios .testimonies .testimonies-list .testimony .testimony-card.left .info::before {
        top: 50%;
        left: 48%;
        width: 447px;
        height: 451px;
    }
}

/*------------------------------- Pagina Equipo -------------------------------*/
.page-template-page-equipo .team {
    padding-block: 50px;
}

.page-template-page-equipo .team .container {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.page-template-page-equipo .team .title h3 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.page-template-page-equipo .team .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding-inline: 50px;
}

.page-template-page-equipo .team .staff-list {
    justify-content: flex-start;
    gap: 32px;
}

.page-template-page-equipo .team .staff-list .staff .staff-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-inline: 12px;
}

.page-template-page-equipo .team .staff-list .staff .staff-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 46/35;
    object-fit: cover;
    object-position: center;
    border-radius: 16px;
}

.page-template-page-equipo .team .staff-list .staff .staff-card .info h3 {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .page-template-page-equipo .team .staff-list {
        gap: 0;
    }

    .page-template-page-equipo .team .staff-list .staff .staff-card {
        margin-bottom: 32px;
    }
}

/* Menu de Accesibilidad */
.accessibility-menu {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 150px;
    height: 160px;
}

.accessibility-menu #toggle-accessibility {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 12px;
    right: 0;
    width: 83px;
    height: 83px;
    border-radius: 9999px;
    background-color: var(--background-color);
    color: var(--text-icon-color);
}

.accessibility-menu .options {
    width: 100%;
    height: 100%;
}

.accessibility-menu .options button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 9999px;
    background-color: var(--background-color);
    color: var(--text-icon-color);
}

.accessibility-menu .options button#increase-text {
    position: absolute;
    right: 12px;
    top: 0;
}

.accessibility-menu .options button#decrease-text {
    position: absolute;
    right: 67px;
    top: 22px;
}

.accessibility-menu .options button#toggle-animations {
    position: absolute;
    left: 0px;
    bottom: 53px;
}

.accessibility-menu .options button#toggle-dark {
    position: absolute;
    left: 0;
    bottom: 0;
}


/* Menu de Accesibilidad 2 */
.accessibility-menu-dos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    flex-shrink: 0;
}

.accessibility-menu-dos #toggle-accessibility {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.accessibility-menu-dos .options {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 397px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.accessibility-menu-dos .options[hidden] {
    display: none;
}

.accessibility-menu-dos .options button {
    display: flex;
    width: 100%;
    background-color: transparent;
    color: var(--text-icon-color);
    border-left: 6px solid transparent;
    padding: 27px 20px;
    border-radius: 0;
    font-size: 0.8rem;
    line-height: normal;
    color: var(--light-color);
}

.accessibility-menu-dos .options button#increase-text {
    /* position: absolute;
    right: 12px;
    top: 0; */
}

.accessibility-menu-dos .options button#decrease-text {
    /* position: absolute;
    right: 67px;
    top: 22px; */
}

.accessibility-menu-dos .options button#toggle-animations {
    /* position: absolute;
    left: 0px;
    bottom: 53px; */
}

.accessibility-menu-dos .options button#toggle-dark {
    /* position: absolute;
    left: 0;
    bottom: 0; */
}